body{
    background-color: wheat;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    margin = 0;
}

#main{
    color:black;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.results{
    background-color:gray;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

#welcome{
    font-size: 400%;
}

#dotCode{
    height:100px;
    background-color: skyblue;
    width: 35%;
    
}


#dotWhich{
    height:100px;
    background-color: skyblue;
    width: 150px;
    display: flex;
    flex-direction: column;
}

#upper{
    height:20%;
    background-color: darkgray;
    text-align: center;
}

#whichResult{
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

#codeResult{
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}