body{
    background-color: wheat;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    margin = 0;
}

#main{
    color:black;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;       
    font-size: 200%;
    width:100%;
}

.results{
    background-color:gray;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

#welcome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;       
    font-size: 200%;
    width:100%;
}

#dotCode{
    height:100px;
    background-color: skyblue;
    min-width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


#dotWhich{
    height:100px;
    background-color: skyblue;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#upper{
    height:20%;
    background-color: darkgray;
    text-align: center;
}

#whichResult{
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#codeResult{
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

#footBar{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content:space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    padding: 5px;
    background-color: rgb(100, 100, 100);
}

#credits{
    align-items: center;
    font-size: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logos{
    justify-content: center;
    align-items: center;
    padding-right:10px;
    
}

#yt {
    /* padding-right: 10px;
    padding-bottom: 5px; */
    padding-top: 5px;
    width:28px;
}

#twitter {
    /* margin-top:1px; */
    width:28px;
}

#linkedIn {
    /* margin-top:1px; */
    width:28px;
}

@media only screen and (max-width: 610px) {
    .results{
        flex-direction: column;
        height:auto;

        
    }

    #dotCode{
        height: auto;
        width:auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #dotWhich{
        margin-bottom:20px;
    }


  }